.ur-game {
    display: flex;
}

.ur-board {
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ur-placemarker {
    background-color: gainsboro;
}

.lane {
    display: flex;
    flex-direction: column;
}

.lane > div > div {
    border: 1px solid black;
}

.midLane div {
    border: solid black;
    border-width: 1px 2px 1px 2px;
}

.side {
    justify-content: space-between;
}

.side-black {
    margin-right: -1px;
}

.side-black .ur-board {
    border-left-width: 2px;
}

.side-black > div :first-child {
    border-top-width: 2px;
}

.side-black > div :last-child {
    border-bottom-width: 2px;
}

.side-white {
    margin-left: -1px;
}

.side-white .ur-board {
    border-right-width: 2px;
}

.side-white > div :first-child {
    border-top-width: 2px;
}

.side-white > div :last-child {
    border-bottom-width: 2px;
}

.midLane {
    border-width: 1px 2px 2px 1px;
}

.midLane :first-child {
    border-top-width: 2px;
}

.midLane :last-child {
    border-bottom-width: 2px;
}

.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid black;
}
